<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <p>I am not bold</p>
            </div>
            <div class="col-6">
                <p class="bold">I am bold</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>I am not bold</p>
    </div>
    <div class="col-6">
        <div class="bold">Why am I not bold?</div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary">I am a Button - Why am I not pink?
        </button>
    </div>
    
    <div class="col-6 mt-4">
        <input #myTextInput type="text" [(ngModel)]="textInput">
        <app-button text="Add Item"
            (onClick)="addItem(myTextInput.value)"></app-button>
    </div>
    <div class="col-6 mt-4">
        <app-button text="Remove Item"
            (onClick)="removeItem($event)"></app-button>
    </div>
    <div class="col-12 mt-3">
        <div *ngFor="let item of list">{{item}}</div>
    </div>
</div>